.parent{
    background-color: red;
    width: 400px;
    height: 200px;
    border: 1px solid;
}
#child1{
    border: 1px solid;
    background-color: purple;
    height: 150px;
    width: 25%;
}
#child2{
    border: 1px solid;
    background-color: purple;
    height: 150px;
    width: 50%;
}
#child3{
    border: 1px solid;
    background-color: purple;
    height: 150px;
    width: 75%;
}
#child4{
    border: 1px solid;
    background-color: purple;
    height: 150px;
    width: 100%;
}
#figlio1{
    border: 1px solid;
    background-color: rgba(9, 255, 9, 0.35);
    height: 221px;
    width: 12.5%;
}
#figlio2{
    border: 1px solid;
    background-color: rgba(9, 255, 9, 0.35);
    height: 221px;
    width: 50%;
}
#figlio3{
    border: 1px solid;
    background-color: rgba(9, 255, 9, 0.35);
    height: 221px;
    width: 62.5%;
}
#figlio4{
    border: 1px solid;
    background-color: rgba(9, 255, 9, 0.35);
    height: 221px;
    width: 22.5%;
}