h1 {
    color: blue;
  }
  
  #pr55 {
    color: red;
  } 
  
  #pr33 {
    color: red;
  } 
  
  #pr11 {
    color: red;
  } 


  #pr2 {
    color: green;
  }

  
  #pr4 {
    color: green;
  }
  
  #pr6 {
    color: green;
  }
  
  #pr1 {
    color: gray;
  }
  
  #pr3 {
    color: gray;
  }
  #pr5 {
    color: gray;
  }
  
  #pr2d {
    color: orange;
  }
  
  #pr4d {
    color: orange;
  }
  #pr6d {
    color: orange;
  }