h1 {
  color: blue;
}

#h2-dispari1 {
  color: red;
}

#h2-dispari2 {
  color: red;
}

#h2-dispari3 {
  color: red;
}

#h2-pari1 {
  color: green;
}

#h2-pari2 {
  color: green;
}

#h2-pari3 {
  color: green;
}

#p-pari1 {
  color: gray;
}

#p-pari2 {
  color: gray;
}

#p-pari3 {
  color: gray;
}

#p-dispari1 {
  color: orange;
}

#p-dispari2 {
  color: orange;
}

#p-dispari3 {
  color: orange;
}
