body{
  background-color: aqua;
}

#CVcontainer {
  height: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#CVleft {
  font-size: 0.5em;
  text-align: center;
  color: white;
  margin: 0px;
  height: 100%;
  width: 30%;
  background-color: rgb(49, 43, 43);
  float: left;
}

#CVright {
  margin-left: 30%;
  height: 100%;
  width: 70%;
}

.picture {
  border-radius: 100%;
  margin-top: 15px;
  width: 130px;
}