.font1 {
    font-family: 'Courier New', Courier;
}

.font2 {
    font-family:'Gill Sans', 'Gill Sans MT';
}

.font3 {
    font-family:Georgia, 'Times New Roman';
}

ul.circle {
    list-style-type: circle;
}

ul.roman {
    list-style-type:upper-roman;
}

ul.icon {
    list-style-type: none;
}

ul.icon li:before {
    content: "fingerprint";
    font-family:'material Icons';
    color: blue;
    vertical-align: -10%;
    padding-top: 10px;
}
