.rett1{background-color: red;
        height: 200px;
    width:400px;}

.rett2{background-color:purple;
        height: 150px;
        width:25%}

.rett3{background-color:purple;
            height: 150px;
            width:50%}
.rett4{background-color:purple;
                height: 150px;
                width:75%}
.rett5{background-color:purple;
                    height: 150px;
                    width:100%}

.rett6{background-color:rgba(0,120,0,0,35);
    height: 221px;
    width:12%}
.rett7{background-color:rgba(0,120,0,0,35);
        height: 221px;
        width:50%}
.rett8{background-color:rgba(0,120,0,0,35);
            height: 221px;
            width:75%}
.rett9{background-color:rgba(0,120,0,0,35);
                height: 221px;
                width:22.2%}
      






