h1 {
  color: blue;
}

#h21 {
  color: red;
}

#h22 {
  color: green;
}

#h23 {
  color: red;
}

#h24 {
  color: green;
}

#h25 {
  color: red;
}

#h26 {
  color: green;
}

#pr1 {
  color: grey;
}

#pr2 {
  color: orange;
}

#pr3 {
  color: grey;
}

#pr4 {
  color: orange;
}

#pr5 {
  color: grey;
}

#pr6 {
  color: orange;
}
