ul {
list-style-type: none;
}
  
  #font1 {
font-family: 'Roboto';
  }
  
  #font2 {
font-family: 'IBM Plex Sans Thai Looped';
  }
  
  #font3 {
font-family: 'IBM Plex Sans Thai Looped';
  }
  
  #lista {
list-style-type: circle;
  }
  
  #listaromana {
list-style-type: upper-roman;
  }
  .listaicona:before {
content: 'android';
font-family: 'Material Icons';
  }