#id1 { background-color: crimson; }

#id2 { background-color: cyan; }

#id3 { background-color: #f677; }

#id4 { background-color: #ef428d; }

#id5 { background-color: rgb(145, 223, 68); }

#id6 { background-color: rgb(156, 152, 19); }
#id7 { background-color: rgba(105, 199, 33, 0.808); }
#id8 { background-color: rgba(89, 97, 18, 0.918); }
#id9 { background-color: rgb(41, 190, 116); }
#id10 { background-color: rgb(53, 187, 199); }
#id11 { background-color: rgba(214, 26, 158, 0.555); }
