.r1 {
    background-image: url("media");
    width: 250px;
    height: 100px;
  }
  
  .r2 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIF.XPNiLdDVQh%252ftvKssP%252f2mqA%26pid%3DApi&f=1");
    width: 250px;
    height: 100px;
  }
  
  .r3 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbor.pijper.io%2FJrbAvwT8jQ6cFsXJeDB4jqUZMJs%3D%2F100x100%2Fhttps%3A%2F%2Fthumbor.pijper.io%2FtiPCz1xg-XdjCUT7prROwpjFT0E%3D%2F800x450%2Ftop%2Fhttps%3A%2F%2Fcdn.pijper.io%2F2021%2F11%2FyVygfoxTWhRrwX1636104033.jpg&f=1&nofb=1");
    width: 250px;
    height: 100px;
  }
  
  .r4 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbor.pijper.io%2F43iosrT2GWUzD6LASVgEdgI_Wr8%3D%2F100x100%2Fhttps%3A%2F%2Fthumbor.pijper.io%2FVGqQRMyCJl6ccKP0D3JUdnSKorY%3D%2F800x450%2Ftop%2Fhttps%3A%2F%2Fcdn.pijper.io%2F2021%2F11%2FHklBB9NZeuum8O1637760258.jpg&f=1&nofb=1");
    background-repeat: no-repeat;
    width: 250px;
    height: 100px;
  }
  
  .r5 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbor.pijper.io%2FqC4EiRZ1jOZtE3AtmamzCDeXBGA%3D%2F100x100%2Fhttps%3A%2F%2Fthumbor.pijper.io%2F8XgjTFaCKhjEFtEh8bz2ejqzek0%3D%2F800x450%2Ftop%2Fhttps%3A%2F%2Fcdn.pijper.io%2F2021%2F12%2Fa01yTEB1zmN1S51639473375.jpg&f=1&nofb=1");
    background-repeat: repeat-x;
    width: 250px;
    height: 90px;
  }
  
  .r6 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbor.pijper.io%2FdvNAmGO349Mqy9tmyaOKZdjtTYg%3D%2F100x100%2Fhttps%3A%2F%2Fthumbor.pijper.io%2FkAIlBRo0sgfSjM-2jnFDX9mVosI%3D%2F800x450%2Ftop%2Fhttps%3A%2F%2Fcdn.pijper.io%2F2021%2F12%2Fg6B8qhNY81KTEx1639331705.jpg&f=1&nofb=1");
    background-repeat: repeat-y;
    width: 250px;
    height: 90px;
  }
  