h1 { color: blue; }

#hdisp1 { color: red; }
#hdisp2 { color: red; }
#hdisp3 { color: red; }

#hpa1 { color: green; }
#hpa2 { color: green; }
#hpa3 { color: green; }

#pdisp1 { color: gray; }
#pdisp2 { color: gray; }
#pdisp3 { color: gray; }

#ppa1 { color: orange; }
#ppa2 { color: orange; }
#ppa3 { color: orange; }