table {
    height: 500px;
    width: 500px;
}

#a1 {background-color: blue;}
#b2 {background-color: green;}
#c3 {background-color: #5C3C00;}
#d4 {background-color: #FAC33C;}
#e5 {background-color: rgba(23, 182, 85, 0.5);}
#f6 {background-color: rgba(21,24,78);}
#g7 {background-color: rgb(195, 248, 219, 0.5);}
#h8 {background-color: rgb(158, 160, 55);}
#i9 {background-color: hsl(249, 73%, 40%);}
#l10 {background-color: hsl(100, 80, 69);}
#m11 {background-color: hsla(96, 49%, 18%);}
#n12 {background-color: hsla(20, 4, 78%,0.2);}