div { 

    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-right: 1px black;
    border-style: dashed;
    margin-right: 10px;
    align-items: baseline;

}
div img {

    width: 250px;

}

div p {

    border: 5px  dashed red;
    text-align: center;
    font-size: large;

}