h1,
h2,
h3 {
  color: red;
  text-decoration: underline;
  text-decoration-color: gray;
}

p {
  color: blue;
  text-align: left;
}

#predright {
  color: red;
  text-align: right;
}

.hrp {
  border-color: black;
  background-color: black;
  height: 10px;
}

.hrd {
  border-color: red;
  background-color: red;
  height: 3px;
}
