.main-title {
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 55px;
}

table {
  margin: auto;
  width: 40%;
  border-collapse: separate; 
  border-spacing: 0px 15px;
}

hr {
  width: 50%;
  border: 3px solid rgb(143, 143, 143);
  border-radius: 9px;
  margin-bottom: 17px;
}

tr {
  text-align: center;
  margin-bottom: 9px;
}

th {
  font-size: 17px;
}