:root {
  --white: white;
  --lightblue: rgb(0, 199, 235);
  --darkblue: rgb(0, 40, 74);
}

body{
  background-color: var(--lightblue);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  margin-left: 15px;
  margin-bottom: 25px;
  font-size: 21px;
  font-family: "Times New Roman", Times, serif;
}

progress {
  margin-left: 15px;
}

#CVcontainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  height: auto;
  width: 80%;
}

#CVleft {
  background-color: var(--darkblue);
  text-align: center;
  height: 720px;
  width: 30%;
  float: left;
}

#CVright {
  height: 720px;
  width: 70%;
  float: left;
  background-color: var(--white);
}

#SKILLcontainer {
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align:end;
  font-weight: bold;
}

#SKILLleft { 
  float: left;
  margin-left: 2em;
}

#SKILLright {
  margin-left: 11em;
  float: left;
}

#ICONScentering {
  width: 74%;
  margin-left: auto;
  margin-right: auto;
}

.picture {
  width: 190px;
  border-radius: 100%;
  margin-top: 40px;
  border: 9px solid var(--lightblue);
}

.uppercase {
  font-family: 'Lexend';
  text-transform: uppercase;
}

.center {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 50px;
}

.contacts {
  text-align: start;
  margin-left: 35px;
}

.tnewroman {
  font-family: "Times New Roman", Times, serif;
}

.white {
  color: var(--white);
}

.lblue {
  color: var(--lightblue);
}

.bg-white {
  background-color: var(--white);
}

.bg-dblue {
  background-color: var(--darkblue);
}

.material-icons {
  float: left;
  font-size: 17px;
  color: var(--lightblue);
}

.leftdiv {
  height: 2.5px;
  width: 75%;
}

.rightdiv {
  height: 2.5px;
  width: 90%;
}

.experiences {
  text-align: justify;
  margin-bottom: 29px;
  margin-left: 30px;
  margin-right: 30px;
}

.skillbars {
  margin-bottom: 1.8em;
}

a.anchorICONS {
  color: var(--white);
}

a.anchorICONS:hover {
  color: var(--lightblue);
}