ul {
  list-style-type: none;
}

#font1 {
  font-family: Comforter, sans-serif;
}

#font2 {
  font-family: Oxygen, sans-serif;
}

#font3 {
  font-family: Karla , sans-serif;
}

#lista {
  list-style-type: circle;
}

#listaromana {
  list-style-type: upper-roman;
}

.listaicona:before {
  content: 'android';
  font-family: 'Material Icons';
}