.text{
  position: absolute;
  top: 0px;
  left: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.img{
  border: 2px green solid;
  height: 250px;
  width: 500px;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn-italiani-media.italiani.it%2Fsite-italiani%2F2017%2F10%2Ftrentino1.jpg&f=1&nofb=1");
}
