#rosso {
  background-color: red;
  width: 400px;
  height: 200px
}
.vio{
  background-color: blueviolet;
}
.ver{
  background-color: green;
}
#id1{
  width:25% ;
  height: 150px;
}
#id2{
  width:50%;
  height:150px ;
}
#id3{
  width: 75%;
  height:150px;
}
#id4{
  width:100%;
  height:150px;
}
#id5{
  width:12.5% ;
  height:221px;
}
#id6{
  width:50%;
  height:221px;
}
#id7{
  width:67.5%;
  height:221px;
}
#id8{
  width:82.2%;
  height:221px;
}