.titolo {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 60px;
}

hr {
    width: 50%;
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}

table {
    margin: auto;
    width: 40%;
    border-collapse:separate; 
    border-spacing: 0px 10px;
}

th {
    font-size: 20px;
}

tr {
    text-align: center;
    margin-bottom: 10px;
}

button {
    background-color: white;
    border: none;
}

.aggiungi{
    color: green;
}
.frecciaR{
color: red;
}
.frecciaG{
    color: yellow;
}
    
.frecciaV{
     color: green;
}
.sottolineato{
    text-decoration: line-through;
}