h1 {
    color:darkslateblue;
}
h2 {
    color:darkgreen;
}
p {
    color:darkslateblue;
}
#h2_1 {
    color: crimson;
}
#h2_2 {
    color: forestgreen;
}
#h2_3 {
    color: crimson;
}
#h2_4 {
    color: forestgreen;
}
#h2_5 {
    color: crimson;
}
#h2_6 {
    color:forestgreen;
}
#pr1 {
    color: gray;
}
#pr2 {
    color: orangered;
}
#pr3 {
    color: gray;
}
#pr4 {
    color: orangered;
}
#pr5 {
    color: gray;
}
#pr6 {
    color: orangered;
}
#pr7 {
    color: gray;
}
#pr8 {
    color: orangered;
}